/* reset the style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variable */
:root {
    --main-theme: #496989;
    --btn-color: #58A399;
    --book-bg-color: #A8CD9F;
    --main-font: "Roboto", sans-serif;
}

/* Layout */
body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

header, main, footer {
    width: 100%;
}

header {
   height: 10%;  
}
form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form input[type="text"] {
    width: 60%;
    height: 60%; 
}
form #filter {
    height: 40%;
}

main {
    height: 75%;

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: 500px;

    column-gap: 10px;
    row-gap: 30px;
}
div {
    height: 100%;
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
div img {
    height: 60%;
}

footer {
    height: 15%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
button {
    width: 80px;
    height: 80px;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.book-added {
    gap: 25px;
    width: 400px;
    height: 75%;
}

/* Typography */

/* style */
body {
    background-color: var(--main-theme);
}

header {
    padding: 0px 20px;

    box-shadow: 0px 2px 15px;
}
nav, form {
    width: 100%;
    height: 100%;
}
form input[type="text"] {
   border-radius: 40px;
   border: none;

   padding: 5px;
}
form input[type="text"]:focus, form #filter:focus, .book-added input {
    outline: none;
}
form #filter {
    border: none;
    border-radius: 5px;

    appearance: none;

    text-align: center;
}

main {
    padding: 20px;

    overflow-y: auto;
}
div {
    background-color: var(--btn-color);
    border-radius: 15px;

    padding: 10px;
}



footer {
    padding: 0px 10px;
    
    display: flex;
    justify-content: center;

    box-shadow: 0px 2px 15px;
}
button {
    border: none;
    border-radius: 50%;

    background-color: var(--btn-color);

    box-shadow: 0px 0px 8px;

    cursor: pointer;
}

section {
    backdrop-filter: blur(10px);
}

.book-added input {
    height: 10%;

    border: none;
    border-radius: 10px;

    padding-left: 10px;
}

.hidden {
    display: none;
}