/* reset the style */
* {
    margin: 0;
    padding: 0;
}

/* variable */
:root {
    --main-theme: #496989;
    --btn-color: #58A399;
    --book-bg-color: #A8CD9F;
    --main-font: "Roboto", sans-serif;
}

/* Layout */

/* Typography */

/* style */
